/* pages/index/systemSetting/video_set.scss */

page {
  background-color: #ffffff;
}

.custom-navbar {
  // 适配小程序胶囊按钮
  padding-top: var(--status-bar-height);
  height: calc(44px + var(--status-bar-height));
  line-height: 44px;
  position: relative;
}